<?xml version="1.0" encoding="UTF-8"?><openbox_menu xmlns="http://openbox.org/"xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"xsi:schemaLocation="http://openbox.org/file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Applications">
    <item label="Terminal">
        <action name="Execute">
            <execute>xterm</execute>
        </action>
    </item>
    <item label="Browser">
        <action name="Execute">
            <execute>xdg-open, about:blank</execute>
        </action>
    </item>
    <item label="File Manager">
        <action name="Execute">
             <execute>pcmanfm-qt</execute>
        </action>
    </item>
    <item label="Sound Control">
        <action name="Execute">
            <execute>pavucontrol-qt</execute>
        </action>
    </item>
    <item label="Text Editor">
        <action name="Execute">
            <execute>featherpad</execute>
        </action>
    </item>
    <item label="Office">
        <action name="Execute">
            <execute>libreoffice</execute>
        </action>
    </item>
<separator label="Configurations" />
    <item label="ObConf">
        <action name="Execute">
            <execute>obconf-qt</execute>
        </action>
    </item>
    <item label="LXAppearance">
        <action name="Execute">
            <execute>LXAppearance</execute>
        </action>
    </item>
<separator label="System" />
    <item label="Reconfigure">
        <action name="Reconfigure" />
    </item>
    <item label="Restart">
        <action name="Restart" />
    </item>
    <item label="Exit">
        <action name="Exit" />
    </item>
</menu>

</openbox_menu>
